@import url('https://fonts.googleapis.com/css2?family=Bangers&family=BioRhyme&display=swap');

/* Global Styling */

:root {
    --crimson: #BC002D;
    --white: #fff;
    --gray: #817F82;
    --orange: #FF7F11;
    --logo-font: 'Bangers', cursive;
    --main-font: 'BioRhyme', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

/* Main styling */

body {
    font-size: 1.4rem;
    font-family: var(--main-font);
    background-image: url(../images/background.jpg);
    background-position: center;
}

h1 {
    font-family: var(--logo-font);
    color: var(--crimson);
    font-size: 5.4rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}

.uppercase {
    text-transform: uppercase;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* Full page positioning */

#main-container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

/* Window Styling */

#window-container {
    margin: 0 auto;
    text-align: center;
    background-color: var(--crimson);
    width: 80%;
    border-radius: 2rem;
    color: var(--white);
    padding: 1rem;
    max-width: 60rem;
}

.hidden {
    display: none;
}

/* Button Styling */

.btn {
    background-color: var(--white);
    color: var(--crimson);
    font-family: var(--main-font);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--orange);
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}

.btn:active {
    box-shadow: 0.3rem 0.3rem 0.3rem var(--gray);
    transform: translateY(0.3rem);
}